<script setup lang="ts">
import type { Dog } from '@/entities';
import { postDog } from '@/services/dog-service';
import { ref } from 'vue';
import { useRouter } from 'vue-router';


const dog = ref<Dog>({
    name:'',
    breed:'',
    birthdate:''
});
const router = useRouter();

async function handleSubmit() {
    const posted = await postDog(dog.value);
    router.push({name:'single-dog', params: {id:posted.id}});
}
</script>

<template>
    <h1>Add dog</h1>
    <form @submit.prevent="handleSubmit()">
        <label>Name : 
            <input type="text" v-model="dog.name">
        </label>
        <label>Breed : 
            <input type="text" v-model="dog.breed">
        </label>
        <label>Birthdate : 
            <input type="date" v-model="dog.birthdate">
        </label>
        <button>Add</button>
    </form>
</template>