<script setup lang="ts">
import { onMounted, ref, watch } from 'vue';
import type { Dog } from '../entities';
import { useRoute, useRouter } from 'vue-router';
import { fetchOneDog } from '../services/dog-service';

const route = useRoute();

const dog = ref<Dog>();

watch(() => route.params.id, async () => {
    dog.value = await fetchOneDog(route.params.id as string);
}, {immediate:true});
</script>

<template>
<div v-if="!dog">Loading...</div>
<div v-if="dog">
<h1>{{ dog.name }}</h1>
<p>Breed : {{ dog.breed }}</p>
<p>Born on {{ dog.birthdate }}</p>

<RouterLink to="/dog/3">To dog 3</RouterLink>
</div>
</template>