<script setup lang="ts">
import type { Dog } from '../entities';

defineProps<{
    dog:Dog
}>()
const emit = defineEmits(['delete']);
</script>

<template>
<RouterLink :to="'/dog/'+dog.id"> {{ dog.name }}</RouterLink>
<button @click="emit('delete')">delete</button>
</template>