

<script setup lang="ts">
import { onMounted, ref } from 'vue';
import type {Dog} from '../entities';
import {deleteDog, fetchDogs} from '../services/dog-service';
import DogInList from './DogInList.vue';

const dogs = ref<Dog[]>([]);

async function handleDelete(dog:Dog) {
    if(dog.id) {
        await deleteDog(dog.id);
        dogs.value = dogs.value.filter(item => item.id != dog.id);

    }
}

onMounted(async () => {
    dogs.value = await fetchDogs();
});

</script>

<template>
    <ul>
        <li v-for="dog of dogs">
            <DogInList :dog="dog" @delete="handleDelete(dog)" />
        </li>
    </ul>
</template>